:root{
  --background: #212832;
}
*{
  margin: 0;
  padding: 0;
}
.main{
  background: url("https://cdn.pixabay.com/photo/2014/09/17/18/59/clouds-449822_960_720.jpg") no-repeat;
  background-position: center; 
  height: 100%;
  background-size: cover;

  padding: 1rem 0rem;
}
.my-box{
  border-radius: 1rem;
  padding: 1.5rem;
  width: 25%;
  height: auto;
  margin-right: 2rem;
  box-shadow: rgba(119, 128, 137, 0.2) 0px 8px 24px;
}
.searchbtn{
  background: none;
  border: none;
  margin: 0.5rem;
  font-size: x-large;
  color: white;

}
.searchbtn:hover{
  color: var(--background);
  
}
.left-box{
  background-color: white;
  position: relative;
}
.place{
  position: absolute;
  bottom: 1rem;
}
.right-box{
  background-color: var(--background);
  color: white;
  text-align: left!important;
}
.icon{
  font-size: 3rem;
  text-align: center;
}
.alignment{
  display: flex;
  justify-content: space-between;
  margin: 0.8rem 0rem;
}
.inp{
  border-radius: 5rem;
  padding: 0.2rem 1rem;
  border: none;
  background-color: white;

}

@media only screen and (max-width: 600px)  {
  .my-box{
    width: 80%;
    
  }
  .place{
    position: relative;
    bottom: 0rem;
  }
}